/* fonts/fonts.css */
@font-face {
    font-family: 'Agu Display';
    src: url('./agu-display.woff2') format('woff2');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Oswald';
    src: url('./oswald-variable.woff2') format('woff2');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pacifico';
    src: url('./pacifico.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Reem Kufi';
    src: url('./reem-kufi.woff2') format('woff2');
    font-weight: 400 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('./playfair-display.woff2') format('woff2');
    font-weight: 400 900;
    font-style: italic;
    font-display: swap;
}

/* أضف باقي الخطوط بنفس الطريقة */
